snippet inc "include" b
#include <$0>
endsnippet

snippet inq "include with quotes" b
#include "$0"
endsnippet

snippet once "include guard" b
#ifndef $1
#define $1

${VISUAL}$0

#endif  // $1
endsnippet


snippet maiv "main void" b
int main(void)
{
	${VISUAL}$0
	return 0;
}
endsnippet

snippet main "main argc argv" b
int main(int argc, char **argv)
{
	${VISUAL}$0
	return 0;
}
endsnippet


snippet tds "typedef struct" b
typedef struct $1
{
	$0
} $1;
endsnippet
